<div class="wrapper md-whiteframe-z1">
    <img class="avatar" src="assets/images/avatar-m.jpg">
    <md-content class="md-padding">
        <form name="logon" novalidate>
            <div layout="row" class="email">
                <i class="fa fa-at"></i>
                <md-input-container flex>
                <label>Email</label>
                <input ng-model="logon.email" type="email" required>
                </md-input-container>
            </div>
            <div layout="row" class="senha">
                <i class="fa fa-key"></i>
                <md-input-container flex>
                <label>Senha</label>
                <input ng-model="logon.password" type="password" required>
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div layout="row" layout-padding>
        <button flex class="entrar" ng-click="vm.login(logon)" ng-disabled="logon.$invalid||app.$page.load.status">Entrar</button>
        <facebook-login user="user"></facebook-login>
    </div>
</div>
<div class="help" layout="row">
    <a flex ui-sref="app.login-lost" class="lost"><i class="fa fa-support"></i> Esqueci minha senha</a>
    <a flex ui-sref="app.signup" class="lost"><i class="fa fa-support"></i> Não tenho cadastro</a>
</div>
<style>
body, html {  overflow: auto;}
</style>