<div class="image-cutter">
    <image-crop
    data-width="{{cutWidth}}"
    data-height="{{cutHeight}}"
    data-shape="{{cutShape}}"
    data-step="cutStep"
    data-result="cutResult">
    </image-crop>
    <!-- hide container -->
    <div hide>
        <md-button class="refresh md-raised" ng-click="reboot()" aria-label="Recomeçar">
            <i class="fa fa-refresh"></i>
            <md-tooltip>
                Recomeçar
            </md-tooltip>
        </md-button>
        <div class="progress" ng-show="busy">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <!-- /hide container -->
</div>