<!doctype html>
<html class="no-js" ng-app="app.seed" ng-controller="$AppCtrl as app">
    <head>
        <base href="/" />
        <meta charset="utf-8">
        <title ng-bind="app.$page.title()"></title>
        <meta name="fragment" content="!">
        <meta name="description" content="{{ app.$page.description() }}">
        <meta name="viewport" content="width=device-width">
        <!-- og -->
        <meta content="{{ app.$page.ogLocale() }}" property="og:locale" />
        <meta content="{{ app.$page.ogSiteName() }}" property="og:site_name">
        <meta content="{{ app.$page.ogTitle() }}" property="og:title">
        <meta content="{{ app.$page.ogDescription() }}" property="og:description">
        <meta content="{{ app.$page.ogUrl() }}" property="og:url">
        <meta content="{{ app.$page.ogImage() }}" property="og:image">
        <meta content="{{ app.$page.ogSection() }}" property="article:section">
        <meta content="{{ app.$page.ogTag() }}" property="article:tag">
        <!-- /og -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="icon" type="image/png" href="assets/icons/favicon.png">
        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
        <!-- render -->
         <link rel="stylesheet" href="app-kit.css" />
        <!-- /render -->
    </head>
    <body layout="row" class="sel-dsb" ng-class="{'not-authed':!app.isAuthed()}" ng-controller="BodyCtrl as body">
        <!--[if lt IE 10]>
            <p class="browsehappy">
            Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/">atualize-o</a> para melhorar sua experiência.
            </p>
        <![endif]-->
        <ui-view name="app" layout="row"></ui-view>
        <!-- Injection -->
        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        <script src="app-kit.js"></script>
        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->
        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->
        <!-- /Injection -->
    </body>
</html>