img.logo-header { height: 48px; margin-top: 6px; }
body, html {  overflow: hidden; overflow-y:hidden; overflow-x: hidden}
body { background-color: #eee; }
body.not-authed{ display: inline;  background-color: #fff;  }
body.not-authed .main-content {background-color: #fff !important; }
a { outline: none }
.hide { display: none; }
.sel-dsb {-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none; }
.sel-enb { -webkit-user-select: text;  -khtml-user-select: text;   -moz-user-select: text; -o-user-select: text;    user-select: text; }
.el-center { margin: 0 auto; }
.text-center { text-align: center; }
.bold { font-weight: bold; }
.app-kit-font { font-family: 'Damion', cursive; font-size: 29px; font-weight: normal; /*color: rgb(0,150,136); */}
ui-view { width: 100%; }

@media (max-width: 600px) {
	a:hover { color: inherit !important; }
	.page-footer md-content { position: relative !important; }
}

@media (min-width: 600px) and (max-width: 1250px) {

}


my-svg-icon.ic_24px svg {
    width: 24px;
    height: 24px;
}
my-svg-icon {
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

md-option .md-text { font-size: 13px !important; }
md-option { height: 30px !important; }
/*md-content { margin-right: 0px !important; }*/

.page-footer ul.top-menu { list-style-type: none; margin: 4px auto; font-size: 13px; text-align: center; padding: 0; }
.page-footer ul.top-menu li:last-child i { display: none }
.page-footer ul.top-menu li { display: inline-block; margin: 0 6px 0; }
.page-footer ul.top-menu li:last-child { margin-right: 0; }
.page-footer ul.top-menu li:first-child { margin-left: 0; }
.page-footer ul.top-menu li i { font-size: 10px; margin-left: 12px; color: #ccc}
.page-footer ul.top-menu li a { color: #bbb }
.page-footer ul.top-menu li a:hover { color: #333 }

.page-footer md-divider { width: 242px; margin: 0 auto; }
.page-footer md-content { position: fixed; bottom:0; padding-top: 20px; width: 100%;border-top: 1px solid #eee; background-color: transparent; color: #ccc; font-size: 13px; font-family: arial }  
.page-footer { padding-top:0px; padding-bottom: 0px; }
.page-footer .copyright { opacity: .7; color: #bbb; margin-bottom: 7px}
.page-footer .terms a { color: #aaa; font-size: 11px}
.page-footer .terms a:hover { text-decoration: none; color: #333;}


.page-content { background-color: #fff; margin-top: -4px; padding: 0; }
.page-content.no-banner { margin-top: 64px; }

.main-wrapper { margin: 12px auto; padding: 10px 15px; max-width: 960px !important;  overflow: hidden !important; }

.main-content { outline:none; overflow: auto; background-color: #eee; margin-top: 3px; margin-bottom: -26px;}

.md-subheader.md-default-theme { background: transparent; }

md-toolbar.main { }
md-content.login { margin-right: auto !important; }
md-list-item.md-3-line .md-list-item-text p {font-size: .75em; font-weight: normal }

@media (max-width: 600px) {
 .logo-company h4.name { width:170px !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
}
.logo-company h4 { font-size: 16px; margin: 5px 0 0 10px;letter-spacing: -1px; font-weight: normal; /*text-shadow: 1px 1px 1px rgba(50, 50, 50, 1)*/ }