<md-content class="md-padding anim-zoom-in login" layout="row" layout-sm="column" ng-if="!app.isAuthed()" flex ng-controller="LoginCtrl as vm">
    <div layout="column" class="login" layout-padding flex>
        <h4 class="text-center">{{vm.hello}}<br /><small>Steve J.</small></h4>
        <login-form config="vm.config" user="app.user"></login-form>
    </div>
</md-content>