<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div hide show-sm show-md layout="row">
        <a ng-click="app.menu.open()" ng-if="app.isAuthed()" aria-label="menu" >
        <md-icon md-svg-src="assets/images/icons/ic_menu_24px.svg"></md-icon>
        </a>
        <toolbar-title hide-sm hide-md></toolbar-title>
    </div>
    <toolbar-title hide show-gt-md></toolbar-title>
    <toolbar-avatar first-name="{{app.user.profile.firstName}}" email="{{app.user.email}}" facebook="{{app.user.facebook}}" menu="[{title:'Home', href:'/', icon: 'fa-home'}, {title:'Conta', href:'/account/', icon: 'fa-street-view'}]" ng-if="app.isAuthed()"></toolbar-avatar>
</div>