<md-content class="md-padding anim-zoom-in login" layout="row" layout-sm="column" ng-if="!app.isAuthed()" flex>
<div layout="column" class="register" layout-padding flex>
    <register-form config="vm.config"></register-form>
</div>
</md-content>