<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div hide show-sm show-md layout="row">
        <a ng-click="app.menu.open()" ng-if="app.isAuthed()" aria-label="menu" >
        <md-icon md-svg-src="assets/images/icons/ic_menu_24px.svg"></md-icon>
        </a>
        <toolbar-title hide-sm hide-md></toolbar-title>
    </div>
    <toolbar-title hide show-gt-md></toolbar-title>
    <div layout="row" ng-if="app.state.current.name != 'app.home'">
        <ul class="top-menu">
            <li>
            </li>
        </ul>
        <toolbar-menu ng-if="app.isAuthed()"></toolbar-menu>
        <a ui-sref="app.home">        
        <img hide show-sm show-md class="logo-header" ng-src="{{app.logoWhite}}">
        </a>
    </div>
</div>