<md-content class="md-padding anim-zoom-in login" layout="row" layout-sm="column" ng-if="!app.isAuthed()" flex>
    <div layout="column" class="login" layout-padding flex>
        <login-form config="vm.config" user="app.user"></login-form>
    </div>
</md-content>