<google-plus-signin clientid="{{google.clientId}}" language="{{google.language}}">
<button class="google" layout="row" ng-disabled="app.$page.load.status">
<i class="fa fa-google-plus"></i> <span>Entrar com Google</span>
</button>
</google-plus-signin>