
md-content .login {
    max-width: 800px;
    margin: 0 auto 20px;
}
.login i {
    font-size: 16px;
    margin: 27px 8px 0 0;
}
button.entrar {
    width: 105px;
    margin: 0 auto;
    text-transform: capitalize;
}
button.registrar {
    width: 130px;
    margin: 0 auto;
    text-transform: capitalize;
}
.login a.lost {
    font-size: 11px;
    margin: 13px auto 17px;
    color: #bbb;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login a.lost i {
    font-size: 12px;
    margin: 0;
}
.login a.lost:hover {
    color: #333;
    text-decoration: underline;
}
login-form .wrapper {
    margin: 0 auto 10px;
    max-width: 280px;
    padding: 15px 15px;
}
.warn {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    color: rgb(216, 27, 96);
}
login-form .entrar {
    height: 34px;
    margin: 0 2px 0 0;
    border: none;
    background-color: #45619d;
    padding: 0px 16px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 185px;
    display: inline-block;
}
.login h2.app-font {
    margin-bottom: 0px;
}
login-form img.avatar {
    display: block;
    margin: 0 auto;
    opacity: .3;
}
login-form .help {
    margin: 0 auto;
    max-width: 260px;
}
@media (max-width: 600px) {
    login-form .wrapper {
        box-shadow: none !important;
   }
}
facebook-login {
    margin: 0 auto 2px;
}
facebook-login button {
	border: none;
    background-color: #45619d;
    padding: 10px 16px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 185px;
    display: inline-block;
}
facebook-login button:hover {
    cursor: pointer;
    opacity: .8;
}
facebook-login button i {
    position: absolute;
    margin-top: 0px !important;
    border-right: 1px solid #2f477a;
    padding-right: 11px;
}
facebook-login button span {
    display: inline-block;
    padding-left: 30px;
}
google-login {
    margin: 0 auto 2px;
}
google-login button {
	border: none;
    background-color: #dd4b39;
    padding: 10px 16px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 185px;
    display: inline-block;
}
google-login button:hover {
    cursor: pointer;
    opacity: .8;
}
google-login button i {
    position: absolute;
    margin-top: 0px !important;
    border-right: 1px solid #bb3f30;
    padding-right: 5px;
}
google-login button span {
    display: inline-block;
    padding-left: 30px;
}
register-form .registrar {
    display: block;
    margin: 0 auto;
}
register-form .wrapper, .login-lost .wrapper {
    margin: 30px auto 10px;
    max-width: 280px;
    padding: 15px 15px;
}
register-form img.avatar, .login-lost .wrapper img.avatar {
    display: block;
    margin: 0 auto;
    opacity: .3;
}
.login-lost .wrapper button {
    margin: 0 auto;
    display: block;
}
register-form .entrar {
    height: 34px;
    margin: 0 2px 0 0;
    border: none;
    background-color: #45619d;
    padding: 0px 16px !important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 185px;
    display: inline-block;
}
@media (max-width: 600px) {
    register-form .wrapper, .login-lost .wrapper {
        box-shadow: none !important;
   }
}
loader {
    margin-bottom: 0px;
    margin-top: -5px;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.page-loader {/* margin-bottom: 10px; margin-top: 3px;*/ opacity: 0;   transition:0.5s linear all; }
.page-loader.show { opacity: 1 !important; transition:0.5s linear all; }
.page-loader.no-auth {/* margin-bottom: 10px; margin-top: 3px !important;*/ }
.page-loader md-progress-linear {/* margin-top: -9px; margin-bottom: -2px; height: 0px;*/ }
.page-loader .md-container {height: 3px;/* background-color: red !important; */ }
.page-loader .md-bar { /*background-color: yellow !important;*/ }
menu-toggle div {
    text-transform: capitalize !important;
}
.menu-toggle-list {
    max-height: 999px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}
.menu-toggle-list.ng-hide {
    max-height: 0;
}
.app-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 42px;
    text-transform: none;
    font-size: 14px;
}
.app-menu li.parentActive, .app-menu li.parentActive .menu-toggle-list {

    /*  background-color: rgba(255, 215, 150, 0.1);*/
}
.app-menu, .app-menu ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
    background-color: transparent;
}
.app-menu li {
    margin: 0;
}
.app-menu > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.app-menu > li:first-child {
    border-top: 0px;
}
.app-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}
.app-menu a.md-button {
    display: block;
}
.app-menu .md-button:hover {

    /*    background-color: rgba(255, 215, 150, 0.5) !important;*/
}

/*.app-menu button.md-button-moz-focus-inner {
  padding: 0;
}*/
.app-menu .md-button {
    text-transform: none;
}
.app-menu .md-button.active {
}
.app-menu .title {
    text-transform: capitalize;
}
md-option {
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding: 0 16px 0 16px;
    height: 34px;
}
html menu-link .material-icons {
    width: 12.4px;
    font-size: 16px;
    margin-left: -3px;
    margin-right: 4px;
    line-height: 22px;
    color: inherit;
}
ul.top-menu {
    list-style-type: none;
    margin: 0;
    font-size: 12px;
    padding: 0;
}

ul.top-menu li {
    display: inline-block;
    margin: 0 5px 0;
}

ul.top-menu li i {
    font-size: 20px;
    margin-left: 12px
}

ul.top-menu li a {
    color: #fff
}

ul.top-menu li a:hover {
    color: yellow
}

@media (max-width: 600px) {
    ul.top-menu {
        margin: 24px 0 0;
    }
}
.ceper .load {
    margin-top: -18px;
    display: inline-block;
    position: absolute;
}
.image-cutter-wrapper input[type=file] {
    padding: 183px 27px;
}

.image-cutter-wrapper button {
    padding: 0 15px;
}

.image-cutter-wrapper button i {
    margin: 10px 8px 0 0 !important
}

.image-cutter-wrapper .progress {
    position: absolute;
    width: 100%;
    top: 40%;
}

.image-cutter-wrapper .progress md-progress-circular {
    margin: 0 auto;
}

.image-cutter-wrapper button.close i {  margin: 12px 0 0 0 !important;}
.image-cutter-wrapper md-dialog-content {  overflow: hidden; }
.image-cutter-wrapper .ng-image-crop { margin-bottom: 45px; }

.opacity-1 { opacity: .1 }
.opacity-2 { opacity: .2 }
.opacity-3 { opacity: .3 }
.opacity-4 { opacity: .4 }
.opacity-5 { opacity: .5 }
.opacity-6 { opacity: .6 }
.opacity-7 { opacity: .7 }
.opacity-8 { opacity: .8 }
.opacity-9 { opacity: .9 }
.toolbar-avatar menu-avatar img {
    margin: 18px 0 0 10px;
    width: 50px;
    height: 50px;
}

.toolbar-avatar .md-title {
    margin-top: -18px;
    height: 19px;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: right;
}

.toolbar-avatar .md-caption {
    text-transform: lowercase;
    font-size: 12px;
    text-align: right;
    height: 19px;
    margin-top: -3px;
}

.toolbar-avatar md-menu-item {
    height: 34px;
}

.toolbar-avatar button.logged-in-menu-button {
    margin-top: -32px;
    height: 95px;
}