<md-button class="md-button-toggle"
ng-click="toggle()"
aria-controls="app-menu-{{section.name | nospace}}"
flex layout="row"
aria-expanded="{{isOpen()}}">
<i  ng-if="section.icon" class="{{section.icon}}"></i>
<span class="title">
{{section.name}}
</span>
<span aria-hidden="true" class="md-toggle-icon"
ng-class="{'toggled' : isOpen()}">
</span>
</md-button>
<ul ng-show="isOpen()" id="app-menu-{{section.name | nospace}}" class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <div layout="row">
            <menu-link section="page" flex></menu-link>
            <md-button flex="25" ng-click="cart.add(page._)" aria-label="adicione {{page.name}} ao carrinho" title="adicione {{page.name}} ao carrinho" ng-if="section.product"><i class="fa fa-cart-plus"></i></md-button>
        </div>
    </li>
</ul>