<md-button
	ng-class="{'active' : isSelected()||vm.state.current.name === section.state}"
	ng-click="vm.goAndClose(section.url, section.state, section.anchor, $event, section)">
	<i  ng-if="section.icon" class="{{section.icon}}"></i>
	<md-icon ng-if="section.iconMi" md-font-set="material-icons">{{section.iconMi}}</md-icon>
	<span>
		{{section | menuHuman }}
	</span>
</md-button>